{% extends 'base.html' %}

{% block content %}
<h2>Denunciar Noticia: {{ noticia.titulo }}</h2>

<!-- Bloque para mostrar mensajes -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-enviar" style="background-color: #ff5c5c;">Denunciar Noticia</button>
</form>
<a href="{% url 'detalle' noticia.id %}">Volver a la noticia</a>
{% endblock %}