{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}
<div class="noticia-detalle">
    <img src="{{noticia.imagen.url}}" class="imagen-detalle" alt="{{noticia.titulo}}">

    <h2 class="titulo-noticia">{{noticia.titulo}}</h2>
    <p class="fecha"><strong>Fecha de publicación:</strong> {{noticia.fecha|date:"d M Y"}}</p>
    <p class="categoria"><strong>Categoría:</strong> {{noticia.categoria_noticia}}</p>
    <div class="cuerpo-noticia">{{noticia.cuerpo}}</div>

    <hr class="separador">

    <!-- formulario  comentarios solo para usuarios registrados -->
    {% if user.is_authenticated %}
    <div class="comentario-form">
        <h3>Deja un comentario</h3>
        <form method="POST" action="{% url 'noticias:comentar' %}">{% csrf_token %}
            <textarea name="comentario" maxlength="1500" placeholder="Escribe tu comentario aquí..." required></textarea>
            <input type="hidden" name="id_noticia" value="{{noticia.pk}}"> 
            <button type="submit" class="btn-enviar">Enviar comentario</button>
        </form>
    </div>
    {% else %}
        <p>Debes estar registrado para dejar un comentario.</p>
    {% endif %}

    <hr>

    <!-- sección de comentarios -->
	<h3>Comentarios:</h3>
	{% if comentarios %}
		{% for com in comentarios %}
			<div class="comentario">
				<p><strong>Fecha:</strong> {{com.fecha|date:"d M Y H:i"}}</p>
				<p><strong>Usuario:</strong> {{com.usuario}}</p>
				<p>{{com.texto}}</p>

				{% if user == com.usuario or user.is_superuser %}

					<!-- Formulario de edición solo se muestra al usuario que hizo el comentario o al administrador -->
					<div class="comentario-editar">
						<h4>Editar Comentario</h4>
						<form method="POST" action="{% url 'noticias:editar_comentario' com.pk %}">
							{% csrf_token %}
							<textarea name="comentario" maxlength="1500" required>{{ com.texto }}</textarea>
							<button type="submit" class="btn-enviar">Actualizar comentario</button>
						</form>
					</div>

					<!-- Botón de eliminación -->
					<a href="{% url 'noticias:eliminar_comentario' com.pk %}" class="btn-eliminar" onclick="return confirm('¿Estás seguro de que quieres eliminar este comentario?');">Eliminar</a>
				{% endif %}
			</div>
		{% endfor %}
	{% else %}
        <p>No hay comentarios para esta noticia.</p>
    {% endif %}

    <hr>

    <!-- Enlace --> 
    <a href="{% url 'noticias:listar' %}" class="btn-volver">Volver a las noticias</a>
</div>
{% endblock contenido %}