{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/noticias/editar_noticia.css' %}">
    {% endblock %}
    <title>{% block titulo %}Editar Noticia{% endblock titulo %}</title>
</head>
<body>
    {% block contenido %}
<div class="editar-noticia">
    <h2>Editar Noticia</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" id="titulo" value="{{noticia.titulo}}" required>
        </div>
        <div>
            <label for="cuerpo">Cuerpo:</label>
            <textarea name="cuerpo" id="cuerpo" required>{{noticia.cuerpo}}</textarea>
        </div>
        <div>
            <label for="imagen">Imagen:</label>
            <input type="file" name="imagen" id="imagen" accept="image/*">
        </div>
        <div>
            <label for="categoria_noticia">Categoría:</label>
            <select name="categoria_noticia" id="categoria_noticia" required>
                {% for cat in categorias %}
                    <option value="{{ cat.pk }}" {% if cat.pk == noticia.categoria_noticia.pk %}selected{% endif %}>{{ cat.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn-enviar">Actualizar Noticia</button>
    </form>
</div>
{% endblock contenido %}
</body>
</html>

