{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}
	<div class="submenu">

		<a href="{% url 'noticias:listar' %}">TODAS</a>
		{% for cat in categorias %}
			<a href="?id={{cat.pk}}">{{cat.nombre}}</a>
		{% endfor %}

	</div>

	

	<div class="noticias-container">
		{% for noti in noticias %}
			<div class="noticia-previa">
				<img src="{{ noti.imagen.url }}" class="imagen-noticia" alt="{{ noti.titulo }}">
				<h3><a href="{% url 'noticias:detalle' noti.pk %}">{{ noti.titulo }}</a></h3>
				<p>Fecha: {{ noti.fecha|date:"d M Y" }}</p>
				<p>Categoría: {{ noti.categoria_noticia }}</p>
				<p class="descripcion">{{ noti.cuerpo|truncatewords:20 }}</p> <!-- Muestra las primeras 20 palabras -->

				<p>PK: {{ noti.pk }}</p>
			</div>
		{% endfor %}
	</div>
	
	
{% endblock contenido %}

