{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}			
	<div class="submenu">

		<a href="{% url 'noticias:listar' %}">TODAS</a>
		{% for cat in categorias %}
			<a href="?id={{cat.pk}}">{{cat.nombre}}</a>
		{% endfor %}

	</div>
	<!-- Filtros adicionales: antigüedad y título -->
	<form method="GET" action="{% url 'noticias:listar' %}">
		<div>
			<label for="ordenar">Ordenar por:</label>
			<select name="ordenar" id="ordenar">
				<option value="">Seleccionar</option>
				<option value="antiguedad_asc">Antigüedad Ascendente</option>
				<option value="antiguedad_desc">Antigüedad Descendente</option>
				<option value="titulo_asc">Título  (A-Z)</option>
				<option value="titulo_desc">Título (Z-A)</option>
			</select>
			<button type="submit">Aplicar Filtros</button>
		</div>
	</form>

	<!-- Formulario para crear una noticia -->
{% if user.is_authenticated %}
<div class="crear-noticia">
    <h2>Crear Noticia</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'noticias:crear' %}">
        {% csrf_token %}
        <div>
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" id="titulo" required>
        </div>
        <div>
            <label for="cuerpo">Cuerpo:</label>
            <textarea name="cuerpo" id="cuerpo" required></textarea>
        </div>
        <div>
            <label for="imagen">Imagen:</label>
            <input type="file" name="imagen" id="imagen" accept="image/*" required>
        </div>
        <div>
            <label for="categoria_noticia">Categoría:</label>
            <select name="categoria_noticia" id="categoria_noticia" required>
                {% for cat in categorias %}
                    <option value="{{ cat.pk }}">{{ cat.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn-enviar">Publicar</button>
    </form>
</div>
{% else %}
    <p>Debes estar registrado para crear una noticia.</p>
{% endif %}


	<div class="noticias-container">
		{% for noti in noticias %}
			<div class="noticia-previa">
				<img src="{{ noti.imagen.url }}" class="imagen-noticia" alt="{{ noti.titulo }}">
				<h3><a href="{% url 'noticias:detalle' noti.pk %}">{{ noti.titulo }}</a></h3>
				<p>Fecha: {{ noti.fecha|date:"d M Y" }}</p>
				<p>Categoría: {{ noti.categoria_noticia }}</p>
				<p class="descripcion">{{ noti.cuerpo|truncatewords:20 }}</p> <!-- Muestra las primeras 20 palabras -->

				<p>PK: {{ noti.pk }}</p>
			</div>
		{% endfor %}
	</div>
	
	
{% endblock contenido %}

