{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/usuarios/login.css' %}">
    {% endblock %}
    <title>{% block titulo %}LOGIN{% endblock titulo %}</title>
</head>
<body>
    {% block contenido %}
        <div class="login-container">
            <!-- Mostrar mensajes de advertencia o errores -->
            {% if messages %}
                <ul class="messages">
					{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
                </ul>
            {% endif %}

            <!-- Formulario de login -->
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="USUARIO" required>
                <input type="password" name="password" placeholder="PASSWORD" required>
                <input type="submit" value="ENVIAR">
            </form>
        </div>
    {% endblock %}
</body>