{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/usuarios/registro.css' %}">
  {% endblock %}
  <title>{% block title %}Registro{% endblock %}</title>
</head>
<body>
{% block contenido %}
  <div class="registration-wrapper">
    <div class="form-container">
      <form action="" method="post">{% csrf_token %}         
        <h3>Registro</h3>
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Confirmar">
      </form>
    </div>
    <div class="message-container">
      <img src="{% static 'img/logo.png' %}" alt="Bienvenido">
      <h3>¡Bienvenido/a a nuestro blog sobre Inteligencia Artificial!</h3>
      <p>Nos alegra que formes parte de esta comunidad donde podrás explorar y compartir noticias, avances y discusiones sobre IA. Si aún no te has registrado, únete para no perderte lo último en tecnología y contribuir con tus propias ideas y experiencias en este emocionante mundo.</p>
    </div>
  </div>
{% endblock contenido %}
</body>
</html>
