{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/nosotros.css' %}">
    {% endblock %}
	<title>{% block titulo %}NOSOTROS{% endblock titulo %}</title>
</head>
<body>
{% block contenido %}
<h2 class="titulo-nosotros">SOMOS EL GRUPO AMADEUS DEL INFORMATORIO, EDICIÓN 2024</h2>

<p class="descripcion">
	Estamos trabajando en nuestro proyecto final, aplicando los conocimientos adquiridos hasta ahora para crear un blog relacionado con la inteligencia artificial.
</p>

<p class="descripcion">
	Nuestro equipo está compuesto por cinco integrantes con profesiones diversas, unidos en la tarea de mejorar la experiencia de trabajo colaborativo utilizando plataformas como <strong>GitHub</strong> y <strong>Trello</strong>. Este proyecto académico no solo nos permite aplicar lo aprendido, sino que también nos brinda la oportunidad de adquirir nuevas habilidades y conocimientos valiosos.
</p>

<img src="{% static 'img/equipo.jpg' %}" alt="Nuestro equipo" class="imagen-equipo">
{% endblock contenido %}
</body>
</html>


